@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Package Delivery System</h1>
        <h2>Team Members</h2>
        <ul>
            <li>Simonas Baltulionis IFF-4/1</li>
            <li>Mangirdas Kazlauskas IFF-4/1</li>
            <li>Lukas Skamarakas IFF-4/3</li>
            <li>Tautvydas Traška IFF-4/1</li>
        </ul>
    </div>
</div>