@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

}
<h2>Registration is sucessful</h2>
<p>Click here to <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></p>
